<div  class="container">
  <h1>Create a New Dose</h1>
  <div class="container-form">
    <%= simple_form_for [@dose] do |f| %>
    <%= f.input :description %>
    <%= f.submit "Add Dose", class: "btn btn-warning" %>
    <% end %>
  </div>
</div>
